/* -----------------------------------------------------General Styles */
body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #374151;
}

/* Primary */

.hiddenItem {
    display: none;
}

/* Font Colours */
.light-font-primary {
    color: #1f2937;
}

.light-font-secondary {
    color: #6b7280;
}

.dark-font-primary {
    color: #ffffff;
}

.dark-font-secondary {
    color: #9ca3af;
}

/* -----------------------------------------------------Nav Styles */
nav {
    background-color: #1e40af;
    height: 4rem;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: #9ca3af;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    line-height: 65px;
}

/* -----------------------------------------------------Header Styles */
h1 {
    letter-spacing: 5px;
}

/* -----------------------------------------------------Main Content Styles */
.hr-divider {
    border: none;
    height: 3px;
    background-color: #1e40af;
    width: 25%;
    border-radius: 2px;
    margin-bottom: 10px;
}

/* -----------------------------------------------------Input Area Styles */
#valueDiv {
   display: block;
}

.input-label {
    font-size: 1.5em;
}

/* -----------------------------------------------------Output Area Styles */
.output-div {
    height: 400px;
    overflow-y: auto;
}

.output-div p {
    border: 1px solid #1e40af;
    border-radius: 2px;
    margin: 50px 25% 0 25%;
    width: 50%;
}

.timeReport {
    font-size: 1.5em;
    text-decoration: underline;
}

/* -----------------------------------------------------Button Styles */
.btn {
    border-radius: 8px;
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 2px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn--go {
    background-color: #28A745;
}

.btn--reset {
    background-color: #FFC107;
}


/* -----------------------------------------------------Calculator Styles */

.calcBody {
    margin: 0;
    padding: 0;
}

.calcOutput {
    width: 13.2rem;
    height: 3rem;
    text-align: right;
    font-size: 2.5rem;
}

.calcOutput:focus {
    outline: none;
}

.calcOutput:disabled {
    background-color: #e9e9ed;
    color: black;
}

.calcButtonLarge {
    width: 6.6rem;
    height: 3rem;
}

.calcButtonClear {
    background-color: #ffaba9;
    border-color: #ffaba9;
    border-radius: 2px;
}

.calcButtonClear:hover {
    background-color: #ce8988;
    border-color: #ce8988;
    border-radius: 2px;
}

.calcButtonDelete {
    background-color: #aaaafe;
    border-color: #aaaafe;
    border-radius: 2px;
}

.calcButtonDelete:hover {
    background-color: #9999e4;
    border-color: #9999e4;
}

.calcButton {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 2px;
}

.calcButtonEquals {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #AEFF6E;
    border-color: #AEFF6E;
    border-radius: 2px;
}

.calcMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-container {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    width: 14.5rem;
    height: 20.8rem;
    border-radius: 5px;
}

/* -----------------------------------------------------Footer Styles */
footer {
    margin-top: 25px;
}

.footerAnchor {
    font-size: 25px;
    margin: 25px;
    color: #e9e9ed;
}

.footerAnchor:hover {
    color: #6b7280;
}

@media screen and (max-width: 600px) {
    .navIcon {
        display: none;
    }
    h1 {
        color: yellow;
    }
}

