/* -----------------------------------------------------General Styles */
body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #374151;
}

/* Primary */

.hiddenItem {
    display: none;
}

/* Font Colours */
.light-font-primary {
    color: #1f2937;
}

.light-font-secondary {
    color: #6b7280;
}

.dark-font-primary {
    color: #ffffff;
}

.dark-font-secondary {
    color: #9ca3af;
}

/* -----------------------------------------------------Nav Styles */
nav {
    background-color: #1e40af;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: #9ca3af;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
}

/* -----------------------------------------------------Header Styles */
h1 {
    letter-spacing: 5px;
}

/* -----------------------------------------------------Main Content Styles */
.hr-divider {
    border: none;
    height: 3px;
    background-color: #1e40af;
    width: 25%;
    border-radius: 2px;
}

/* -----------------------------------------------------Input Area Styles */
#valueDiv {
   display: block;
}

.input-label {
    font-size: 1.5em;
}

/* -----------------------------------------------------Output Area Styles */
.output-div {
    height: 400px;
    overflow-y: auto;
}

.output-div p {
    border: 1px solid #1e40af;
    border-radius: 2px;
    margin: 50px 25% 0 25%;
    width: 50%;
}

.timeReport {
    font-size: 1.5em;
    text-decoration: underline;
}

/* -----------------------------------------------------Button Styles */
.btn {
    border-radius: 8px;
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    margin: 1.5rem 1rem 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 2px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn--go {
    background-color: #28A745;
}

.btn--reset {
    background-color: #FFC107;
}