/* -----------------------------------------------------General Styles */
body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    min-height: 100vh;
}

/* -----------------------------------------------------Nav Styles */
.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: #030303;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

/* -----------------------------------------------------Input Area Styles */
#valueDiv {
   display: block;
}

/* -----------------------------------------------------Output Area Styles */
.output-div {
    height: 500px;
    overflow-y: auto;
}

.output-div p {
    border: 1px solid black;
    border-radius: 2px;
    margin: 50px 25% 0 25%;
}
